*{
  box-sizing: border-box;
}
body{
  margin: auto;
  background-color: #f2f3f4;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
/*scroll bar start*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #305373; 
  border: 1px solid black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/*scroll bar end */
 [class*="col-"]{
  float: left;
 }

 .col-1 {width: 8.33%}
 .col-2 {width: 16.66%}
 .col-3 {width: 25%}
 .col-4 {width: 33.33%}
 .col-5 {width: 41.66%}
 .col-6 {width: 50%}
 .col-7 {width: 58.33%}
 .col-8 {width: 66.66%}
 .col-9 {width: 75%}
 .col-10 {width: 83.33%}
 .col-11 {width: 91.66%}
 .col-12 {width: 100%}

h1, h2, h3, h5, h6{
  background-color: #f2f3f4;
  /*font-family: 'Dosis', sans-serif;*/
  font-family: 'Abel', sans-serif;
}

h1:hover, h2:hover, h3:hover, h5:hover, h6:hover{
   cursor:default;
 }
p{
  color: #305373;
  line-height: 1.6;
}

#navi span input[type=text]{
  border-radius: 3px;
  border: 2px solid #305373;
  padding: 2px;
}
#navi span button{
  border: 1px solid #f2f3f4;
  border-radius: 3px;
  color: white;
  padding:3px;
  background-color: #305373;
  outline: none;
  opacity: .5;
}
a {
  font-size: 15px;
  font-family: 'Assistant', sans-serif;
  color: white;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
  padding:10px;
}
#navi1 span{
  float: right;
}
.search-btn{
  cursor: pointer;
}
.dropdown {
  display: inline-block;
  overflow: hidden;
  font-family: 'Assistant', sans-serif;
  margin-bottom: -10px;
}
.dropdown .drop-btn {
  padding:10px;
  border: none;
  outline: none;
  color: white;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
  background-color: inherit;
  font: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: none;
  /* margin-left: 0px; */
  width: 35%;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: .9;
}
#navi a:hover, .dropdown:hover .drop-btn {
  color: black;
  background-color: #D5D8DC;
  transition: .2s;
}


  .category {
	float: left;
	width: 153px;;
	padding: 10px;
	/* margin: 0 0 0 -20px; */
	background-color: #305373;
	height: auto;
  }

  .category a {
  margin: -9px;
	float: none;
	color: white;
  text-decoration: none;
  padding:10px;
	display: block;
	text-align: left;
  }

  .category a:hover, #search-frame ul li:hover {
  	color: black;
  	background-color:  #D5D8DC;
    opacity: .9;
    transition: .0s;
    cursor: pointer;

  }
input[type=text]{
  border: 1px solid #ccc;
  outline: none;
}

#search-frame a{
  margin: -500px;
}
#search-frame a:hover{
color: black;
}
/* mobile navi */

.slider{
  margin: -8px;
  margin-left: 1px;
  border-radius: 5px;
  width: 100%;
  height: 750px;
  background: url(../images/02.jpg);
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center;
  animation: slide 10s infinite;
}

@keyframes slide{
  33.33%{
    background: url(../images/02.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
  66.66%{
    background: url(../images/03.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
  100%{
    background: url(../images/04.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
/* welcome */
#welcome #logo-image{
    display: none;
  /* visibility: hidden; */
}
#col-11-logo{
  background-color: white;

}
#welcome h1{
  text-align: center;
  background-color: #f2f3f4;
  padding-bottom: 10px;
  padding-top: 5px;
  margin-bottom: 0;
  margin-top: 0px;
  font-size: 50px;
  color: #17728c;
}
.hr-break{
  border:solid #D5D8DC;
}
#hr2{
  border: 1px;
}
/* #navi{
  width = 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
} */

/* search-frame */
ul li{
  background-color: #305373;
  border: 1px solid;
  width:60%;
  padding: 8px;
  margin: 10%;
  margin-bottom: -10%; 
  text-align: center;
}
#search-frame{ padding: 50px;}
/* headings */
.headings{
  text-transform: uppercase;
  text-align: left;
}
p, address{
  font-family: 'Barlow', sans-serif;
  font-size: 15px;
  line-height: 2;
}
/* our Services */
#img1, #img2{
  float:left;
}
#ourservices #img1 img,#ourservices #img2 img{
   padding: 10px; height:250px; border-radius: 5px;
}
#ourservice span{
  font-size: 20px;
}
#ourservices{
  border-left: 2px solid #ffffff; padding: auto; margin: auto;
}
#ourservice{
  margin: auto; padding: 50px;float:left;
}
/* collections */
#collectionss{
  padding: auto; margin: auto;  float:right; border-left: 2px solid #ffffff;
}
#collections{
  margin: auto; padding: 50px;float:left; 
}
.item-image{
  margin: 5px;
  float:left;
}
.item-image img{
  width: 220px;
  /*box-shadow: 1px 1px 10px black;*/
  border-radius: 15px;
  padding: 10px; height:250px; border-radius: 3px;
}
.item-image img:hover{
  /*background-color: #305373;*/
  box-shadow: 1px 1px 10px #D5D8DC;
  transition: .2s;
  /*opacity:.7;*/
  transform: translateY(-5px);
}
.item-image button{
  border: 1px solid #f2f3f4;
  border-radius: 5px;
  color: white;
  padding:10px;
  margin-left: 29%;
  background-color: #305373;
  outline: none;
}
.item-image button:hover{
  background-color: #D5D8DC;
  font-weight: bold;
  color: #305373;
  border: 1px solid #305373;
  transition: .0s;
  cursor: pointer;
}
.item-image .btn-top{
  width: 80%;
  border: 1px solid #b8b8b8;
  border-radius: 5px;
}
.item-image .btn-bottom{
  width: 80%;
  border: 1px solid white;
  border-radius: 5px;
}
.item-image h1{
  font-size: 15px;
  color: #305373;
  font-family: Abel, sans-serif; margin: auto;
  text-align:center;
  padding: 10px;
}
/* footer */
#footer h4{
  cursor: default;
  color: #D5D8DC;
  font-family: 'Dosis', sans-serif;
}
#copyright p{
  cursor: default;
  text-align: center;
  color: #bdc2c7;
}
#footer p ,#footer address{
  cursor: default;
  color: #bdc2c7;
}
/*#footer #footer1 #col hr{
  border: 1px solid #D5D8DC;
  border-radius: 5px;
  float:left;
  margin: auto;
  width: 150px;
  opacity: .5;
}*/
.panel, .flip {
  /*margin-top: 5px;*/
  width: 100%;
  /*margin: 0px;*/
  text-align: center;
  background-color: #305373;
  /*border: solid 1px #252527;*/
}.flip {
  padding: 1px;
  margin: -1px;
}

.panel {
  /*height: 150px;*/
  display: none;
  opacity: .5;
  background-color: black;
  border-left: solid 1px white;
  display: none;
}
.flip:hover{
  opacity: .4;
  background-color: black;
  transition: .2s;
}

/*social media start*/
/*.fa {
  padding: 5px;
  text-align: center;
  text-decoration: none;
  margin:2px;
}*/
/*.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}*/
/*social media end*/
.col{
  float:left; margin: 50px;
}
hr.headings {
  float:left;
  margin: auto;
  width: 55%;
}
.topnav {
  display: none;
}
@media all and (max-width:1500px){
  #search-frame a{
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
  a {    
    font-size: 12px;
    font-family: 'Assistant', sans-serif;
  }
}
@media all and (max-width:1100px) {


  [class*="col-"]{
   float: left;
  }

  .col-1 {width: 100%}
  .col-2 {width: 100%}
  .col-3 {width: 100%}
  .col-4 {width: 100%}
  .col-5 {width: 100%}
  .col-6 {width: 100%}
  .col-7 {width: 100%}
  .col-8 {width: 100%}
  .col-9 {width: 100%}
  .col-10 {width: 100%}
  .col-11 {width: 100%}
  .col-12 {width: 100%}


#welcome #logo-image{
    display: none;
  /* visibility: hidden; */
}
#col-11-logo{
  background-color: #f2f3f4;
  margin: 0%;
  margin-right: 0%;
  padding: 0%;
}
#col-11-navi h1{
  /* display: none; */
  /* font-size: 15px; */
  font-size: 25px;
  margin: 0%;
  margin-bottom: 1%;
  padding: 0%;
}
.welcome-image{
  width:100%;
  margin-right: 0px;
  margin: 0%;
  margin-right: 0%;
  padding: 0%;
}
.slider{
  height: 300px;
  margin: 0%;
  margin-right: 0%;
  padding: 0%;
}
#navi{
  display: none;
}
#search-frame {
  /* display: none; */
  width:100%;
  margin: 0%;
  margin-right: 0%;
  padding: 0%;
}
#search-frame ul li{
  margin-left: 16%;
  margin-bottom: 1%;
  margin-top: 1%;
}
#ourservices .imag{
  margin-left: 22%;
}

#collectionss,#ourservices,#ourservice{
  width:100%;
  display: block;
  border-left: 0px;
  margin-left: 0px;
  margin: 0%;
  margin-right: 0%;
  padding: 0%;
}
#collectionss .item-image{
  margin-left: 0%;
  margin-right: 0%;
  float: left;
  /* display:inline; */
}
.item-image{
  margin-left: 100px;
}
.item-image img{
  width: 150px;
  height: 150px;
  display:inline;
  margin: 0%;
  padding: 0%;
  /* width: 150px;
  height: 150px; */
}
.item-image button{
  border: 1px solid #f2f3f4;
  font-size: 11px;
  border-radius: 5px;
  color: white;
  padding:10px;
  margin-left: 26%;
  background-color: #305373;
}
.con{
  padding-left: 0px;
}
#footer #footer1 #col{
  margin-left: 1555px;

}
#footer #copyright{
  width:155%;
}
.col{
  float:none; margin: auto;
}
.headings{
  text-align: center;
}
hr.headings {
  display: flex;
  text-align: center;
  margin: auto;
  width: 100%;
}
#ourservices{
  border:none; padding: auto; margin: auto;
}
#ourservice{
  margin: auto; padding: 0px;float:left;
}
#ourservice p, #search-frame p{
  margin-left: 8%;
  margin-right: 8%;
}

#collectionss{
  border:none; padding: auto; margin-left: 50px;
}
#collections{
  margin: auto; padding: 0px;float:left;margin-left: 8%;
}


.topnav {
  display: flex;
  overflow: hidden;
  background-color: #305373;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a, .dropdown{
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 15px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  /* background-color: #ddd; */
  /* color: black; */
  color: black;
  background-color:  #D5D8DC;
  /*background-color: #252527;*/
  transition: .2s;
}

.active {
  background-color: #305373;
  color: white;
}

}
@media all and (min-width:700px) and (max-width:1100px){
  #welcome #logo-image{
      display: none;
    /* visibility: hidden; */
  }
  #col-11-navi h1{
    /* display: none; */
    /* font-size: 15px; */
    font-size: 45px;
    margin: 0%;
    margin-bottom:1%;
    padding: 0%;
  }


}




/* @media all and (max-width:550px) {
#welcome #logo-image{
  #collectionss .item-image{
    margin-left: 10%;
  }
} */
